* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 75%;
}
body {
    font-family: 'Titillium Web', sans-serif; 
    
    
}
.header {
    /* background-color: #87509c; */
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   
}

h1{
    text-align: justify;
    text-justify: inter-word;
    font-size: 3.3rem;
    color: #ffffff;
  }
.row {
    max-width: 114rem;
    margin: 0 auto;
}
.logo {
    height: 2.5rem;
    width: auto;
    margin-top: 2.3rem;
    margin-left: 2.3rem;
    float: left;
}
.main-nav {
    float: right;
}
.main-nav li {
    display: inline-block;
    margin-top: 3rem;
}
.main-nav li a:link,
.main-nav li a:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 1.5rem;
    background-color:rgba(97, 207, 24, 0);
    padding: .3rem 1.6rem;
    border-radius: 0.3rem;
    display: inline-block;
    font-size: 1.0rem;
    transition: 3s;
}
.main-nav li:first-child {
    margin-left: 0;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    background: rgba(209, 157, 0, 1)

}
.main-nav li.active a:link,
.main-nav li.active a:visited{
    border-radius: 0.3rem;
}
.main-nav li.active a {
    background: rgba(97, 207, 24, 0);
}
.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn:link,
.btn:visited,
.btn {
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.0rem 3.0rem;
    border-radius: 0.3rem;
    display: inline-block;
    margin-top: 4.5rem;
}
.btn-hero:link,
.btn-hero:visited {
    background:#A52A2A ;
    background-color: #FFA500;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
}  

  .services-icon {
    height: 5rem;
    width: 5.5rem;
    margin-left: 25%; 
    margin-bottom: 10%;  
    display: inline-block;
    margin-top: 3rem;
}
.row1 {
  text-align: center;
  padding: 3rem;
  /* font-size: 3rem; */
}
.h2{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}
.little-description{
  font-size: 2rem;
}
.row2{
  font-size: 1rem;
  padding-top: 1rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
}
.services-section {
  
  background: linear-gradient(rgba(252, 252, 252, 0.9),rgba(252, 252, 252, 0.9)), url(../img/service.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
.box {
  padding: 1%;
}
.box p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 2rem;
}
.box h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 2rem;
  
}
.team-mates {
  height: 5rem;
  width: 5.5rem;
  margin-left: 25%; 
  margin-bottom: 10%;  
  display: inline-block;
  margin-top: 3rem;
}

.social-link {
  float: right;
}
.social-link  li {
  display: inline-block;
  margin-top: 3rem;
}
.social-link   li a:link,
.social-link  li a:visited {
  text-decoration: none;
  margin-left: 1.1rem;
  border-radius: 0.3rem;
  display: inline-block;
  font-size: 1.0rem;
}

.social-link li:first-child {
  margin-left: 0;
}
.teammates{
  padding-top: 1rem;
  padding-right: 9rem;
  padding-bottom: 5rem;
  padding-left: 9rem;
}
.team-section {
  background-color: #0C090A;
  color: antiquewhite;

}
hr.new5 {
  border: 0.5rem solid rgb(220, 223, 220);
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.role {
  color: #FFA500;
  padding-top: 10rem;
}